<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              #amountInput>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
          <button class="btn btn-danger" type="submit">Delete</button>
          <button class="btn btn-primary" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>